body, html {
  width: 100%;
  height: 100%;
}

.chat {
  width: 500px;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat .chat-body {
  height: 100%;
  overflow-y: scroll;
}

.chat .chat-footer .send-btn {
  cursor: pointer;
}
